@model IEnumerable<wpr201_assignment2_asp.Models.Pizza>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h2>Meny</h2>

    <!-- Visar pizzorna på menyn -->
    <table class="table">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Beskrivning</th>
                <th>Pris (sek)</th>
                <th>Bild</th>
                <!-- Visa table header "Redigera" om användaren är inloggad -->
                @if (User.Identity.IsAuthenticated)
                {
                    <th>Redigera</th>
                }
            </tr>
        </thead>

        <tbody>
            @foreach (var pizza in Model)
            {
                <tr>
                    <td>@pizza.Name</td>
                    <td>@pizza.Description</td>
                    <td>@pizza.Price</td>

                    <td>
                        @if (pizza.Image != null)
                        {
                            var base64 = Convert.ToBase64String(pizza.Image);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            <img src="@imgSrc" width="100" alt="@pizza.Name" />
                        }

                    </td>

                    <td>
                        <!-- Visa knapparna för att redigera pizzorna om användaren är inloggad -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <!-- Style the anchor tag like a button and wrap it in a form for Edit -->
                            <form asp-action="Edit" asp-controller="Pizza" asp-route-id="@pizza.Id" method="get" style="display: inline;">
                                <input type="submit" value="Ändra" class="btn btn-primary" />
                            </form>
                            <span style="display:inline;">|</span>
                            <!-- Style the anchor tag like a button and wrap it in a form for Delete -->
                            <form asp-action="Delete" asp-controller="Pizza" asp-route-id="@pizza.Id" method="post" style="display: inline;">
                                <input type="submit" value="Ta bort" class="btn btn-primary" />
                            </form>
                        }

                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
